<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Khmergeek-sample-app", root_path, :class => "navbar-brand"  %>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
      </button>
    </div>

    <nav>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav  navbar-right">
          <li><%= link_to "home", root_path %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
